SINFOService/WebApplication9/packages/*
SINFOService/WebApplication9/WebApplication9/bin/*
SINFOService/WebApplication9/WebApplication9/obj/*
SInfoExecute/SInfoExecute/obj/*
SInfoExecute/SInfoExecute/bin/*
SMAnalysis/SMAnalysis/obj/*
SMAnalysis/SMAnalysis/bin/*
