SINFOService/WebApplication9/packages/*
SINFOService/WebApplication9/WebApplication9/bin/*
SINFOService/WebApplication9/WebApplication9/obj/*
SInfoExecute/SInfoExecute/obj/*
SInfoExecute/SInfoExecute/bin/*
SMAnalysis/SMAnalysis/obj/*
SMAnalysis/SMAnalysis/bin/*
SInfoExecute/.vs/SInfoExecute/v15/sqlite3/*
SINFOService/WebApplication9/.vs/WebApplication9/v15/sqlite3/storage.ide
SINFOService/WebApplication9/.vs/config/applicationhost.config
SINFOService/WebApplication9/.vs/config/applicationhost.config
