<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.35.2" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.35.2" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.35.2" targetFramework="net45" />
  <package id="Google.Apis.Drive.v2" version="1.35.2.1354" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Unofficial.Microsoft.SQLServer.SMO" version="11.0.3000.0" targetFramework="net40" />
  <package id="Unofficial.Sql.Server.Management.Objects" version="17.4.1" targetFramework="net40" />
</packages>